<ion-content>
  <div class="modal-body">
    <ion-icon *ngIf="icon" [name]="icon" class="modal-icon"></ion-icon>
    <h2>{{ title }}</h2>
    <p *ngIf="message">{{ message }}</p>

     <!-- ✅ Bloque de información adicional opcional -->
    <div class="extra-info" *ngIf="extraInfo?.length">
      <div class="info-item" *ngFor="let info of extraInfo">
        <ion-icon *ngIf="info.icon" [name]="info.icon" [style.color]="info.color || '#2dd4bf'"></ion-icon>
        <span class="label">{{ info.label }}:</span>
        <span class="value" [style.color]="info.color || '#2dd4bf'">
          {{ info.value }}
        </span>
      </div>
    </div>



    <form [formGroup]="form">
      <ion-item *ngFor="let field of fields" lines="none">
        <ion-label position="stacked">{{ field.label }}</ion-label>

        <ion-input
          *ngIf="field.type === 'number'"
          type="text"
          inputmode="numeric"
          [value]="visualValues[field.name]"
          [formControlName]="field.name"
          [required]="field.required"
          (ionInput)="onNumberInput($event, field.name)">
        </ion-input>



        
        <ion-input
          *ngIf="field.type === 'text'"
          [type]="field.type"
          [formControlName]="field.name"
          [required]="field.required">
        </ion-input>

        <ion-select
          *ngIf="field.type === 'select'"
          [formControlName]="field.name"
          interface="popover">
          <ion-select-option *ngFor="let opt of field.options" [value]="opt.value">
            {{ opt.label }}
          </ion-select-option>
        </ion-select>

        <!-- Paleta extendida de colores con bloqueo -->
        <ng-container *ngIf="field.type === 'color'">
          <div class="color-grid">
            <div
              *ngFor="let c of ionicColorsExtended"
              class="color-circle"
              [style.background-color]="c.value"
              [class.selected]="form.get(field.name)?.value === c.name"
              [style.opacity]="colorDisabled(c.value, field.options) ? 0.3 : 1"
              (click)="!colorDisabled(c.value, field.options) && form.get(field.name)?.setValue(c.value)">
              <ion-icon
                *ngIf="form.get(field.name)?.value === c.value"
                name="checkmark-outline">
              </ion-icon>
              <ion-icon
                *ngIf="colorDisabled(c.value, field.options)"
                name="lock-closed-outline">
              </ion-icon>
            </div>
          </div>
        </ng-container>


        <ion-note color="danger" *ngIf="form.get(field.name)?.invalid && form.get(field.name)?.touched">
          Campo obligatorio o inválido
        </ion-note>
      </ion-item>
    </form>

    <div class="buttons">
      <ion-button expand="block" [color]="color" (click)="confirmar()">{{ confirmText }}</ion-button>
      <ion-button expand="block" color="medium" (click)="cancelar()">{{ cancelText }}</ion-button>
    </div>
  </div>
</ion-content>
