<ion-content class="login-page" fullscreen>
  <div class="wrapper">
    <!-- Icono -->
    <div class="logo-shield">
      <ion-icon name="shield-outline"></ion-icon>
      <span class="logo-dollar">$</span>
    </div>

    <h1 class="title">Login</h1>

    <form class="login-form" autocomplete="off">
      <ion-item lines="none" class="field">
        <ion-input
          placeholder="Email address"
          type="email"
          class="login-input"
          clear-input="true">
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="field">
        <ion-input
          placeholder="Password"
          type="password"
          class="login-input"
          clear-input="true">
        </ion-input>
        <a slot="end" class="forgot-inline" href="#">Forgot password?</a>
      </ion-item>

      <ion-button expand="block" class="cta">Log in</ion-button>

      <div class="signup">
        Don’t have an account? <a href="#" class="signup-link">Sign up</a>
      </div>
    </form>
  </div>
</ion-content>
