

<ion-content class="ion-padding" fullscreen>
  <div class="login-container">
    <h1 class="login-title">Bienvenido</h1>
    <p class="login-subtitle">Accede para continuar</p>
    <form class="login-form" autocomplete="off">
      <ion-item lines="none" class="login-item">
        <ion-input
          placeholder="Correo electrónico"
          type="email"
          fill="outline"
          class="login-input"
          clearInput
        ></ion-input>
      </ion-item>
      <ion-item lines="none" class="login-item">
        <ion-input
          placeholder="Contraseña"
          type="password"
          fill="outline"
          class="login-input"
          clearInput
        ></ion-input>
      </ion-item>
      <ion-button expand="block" class="login-button">Ingresar</ion-button>
      <div class="login-footer">
        <a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a>
      </div>
    </form>
  </div>
</ion-content>

