

# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto


# Ignora los archivos relacionados a entornos virtuales de Python
venv
.venv
backend/.venv

#ignora la carpeta angular
.angular

# Ignora archivos de configuración SASS
.sass-cache

# Ignora archivos de configuración de servicio de cuenta
finanza/backend/key/*.json

# Pero no ignores el archivo .gitkeep dentro de esa carpeta
!finanza/backend/key/.gitkeep
