<app-header backButton="/login" title="Perfil"></app-header>

<ion-content class="profile-page" fullscreen>
  <div class="cream-card hero">
    <div class="avatar-wrap">
      <ng-container *ngIf="avatarUrl; else initials">
        <img [src]="avatarUrl" alt="avatar" class="avatar"/>
      </ng-container>
      <ng-template #initials>
        <div class="avatar initials">{{ getInitials() }}</div>
      </ng-template>

      <label class="avatar-edit">
        <ion-icon name="camera-outline"></ion-icon>
        <input type="file" accept="image/*" (change)="onAvatarChange($event)" hidden />
      </label>
    </div>

    <h2 class="name">{{ user.name }} {{ user.lastName }}</h2>
    <p class="email">{{ user.email }}</p>

    <ion-chip *ngIf="user.premium" color="warning">
      <ion-icon name="star"></ion-icon>
      <ion-label>Premium</ion-label>
    </ion-chip>
    <ion-chip *ngIf="!user.premium" color="medium">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Gratis</ion-label>
    </ion-chip>
  </div>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="user.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="user.lastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="user.email"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveProfile()">Guardar cambios</ion-button>
</ion-content>
