<ion-header>
  <ion-toolbar class="topbar">
    <!-- Botón menú -->
    <ion-buttons *ngIf="profile" slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <!-- Botón volver -->
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backButton" [defaultHref]="backButton"></ion-back-button>
    </ion-buttons>

    <ion-title class="topbar-title">{{ title }}</ion-title>

    <ion-buttons *ngIf="badge" slot="end">
      <ion-button class="bell" fill="clear">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-badge class="badge">{{ badge }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
