<app-header profile="profile" title="Inicio" badge="5"></app-header>

<ion-content class="dashboard-page" fullscreen>
  <h1 class="app-title">APP</h1>

  <ion-header>
  <ion-toolbar><ion-title>Gastos</ion-title></ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-storage-bar
    [expenses]="expenses"
    [totalIncome]="totalIncome"
    [heightPx]="28"
    [rounded]="14"
    [showLegend]="true">
  </app-storage-bar>

  <ion-button expand="block" (click)="simularIngresoExtra()">
    Simular ingreso extra (+10)
  </ion-button>
</ion-content>


  <!-- Tarjeta: Donut -->
  <div class="cream-card donut-card">
    <div class="donut" [style.--p]="donutDeg"></div>
    <div class="donut-center">
      <div class="amount">{{ amount | currency:'USD':'symbol':'1.0-0' }}</div>
    </div>
  </div>

  <!-- Tarjeta: Área + Tabs -->
  <div class="cream-card chart-card">
    <svg viewBox="0 0 300 120" class="area">
      <path class="area-fill"
            d="M0,100 C30,40 70,80 110,60 C150,40 190,110 230,70 C260,50 300,100 300,100 L300,120 L0,120 Z"/>
      <path class="area-line"
            d="M0,100 C30,40 70,80 110,60 C150,40 190,110 230,70 C260,50 300,100 300,100"/>
    </svg>

<ion-segment class="bottom-2131">
  <ion-segment-button value="15D"><ion-label>15D</ion-label></ion-segment-button>
  <ion-segment-button value="1M"><ion-label>1M</ion-label></ion-segment-button>
  <ion-segment-button value="1Y"><ion-label>1Y</ion-label></ion-segment-button>
</ion-segment>

  </div>
</ion-content>
<!-- Tu comentario aquí 
<ion-footer class="bottom-nav">
  <div class="bar">
    <ion-button (click)="signOut()" fill="clear"><ion-icon name="log-out"></ion-icon></ion-button>
    <ion-button fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
    <ion-button fill="clear"><ion-icon name="search-outline"></ion-icon></ion-button>
    <ion-button fill="clear"><ion-icon name="trophy-outline"></ion-icon></ion-button>
  </div>
</ion-footer> -->
<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="home" [routerLink]="['/home']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agregar" [routerLink]="['/agregar']">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analisis" [routerLink]="['/analisis']">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Análisis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premium" [routerLink]="['/premium']">
      <ion-icon name="diamond-outline"></ion-icon>
      <ion-label>Premium</ion-label>
    </ion-tab-button>
<!--
    <ion-tab-button tab="profile" [routerLink]="['/main/profile']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>
</ion-tabs>
