<div class="analizar-objetivos">

  <ng-container *ngIf="!sinObjetivos; else noData">
    <div class="objetivo-card" *ngFor="let obj of objetivos" [style.--color]="obj.color">
      <div class="objetivo-header">
        <h3>{{ obj.nombre }}</h3>
        <p class="monto">{{ obj.monto | currency: 'CLP':'symbol' }}</p>
        <div class="acciones">
          <ion-icon name="create-outline" (click)="editarObjetivo(obj)"></ion-icon>
          <ion-icon name="trash-outline" (click)="eliminarObjetivo(obj)"></ion-icon>
        </div>
      </div>


      <div class="barra-container">
        <div class="barra-fondo" [class.animar]="animar">
          <div class="barra-progreso" [class.completo]="obj.progreso === 1" [style.background]="obj.color"
            [style.width.%]="animar ? obj.progreso * 100 : 0"></div>

          <div class="icono" [style.left.%]="animar ? obj.progreso * 100 : 0"
            [class.balanceo]="animar && obj.progreso < 1" [class.completo]="obj.progreso === 1">
            {{ obj.icono }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noData>
    <div class="no-objetivos">
      <ion-icon name="sparkles-outline"></ion-icon>
      <p>Aún no tienes objetivos registrados</p>
    </div>
  </ng-template>
</div>